<footer class="finalDePagina">
  <div class="contenedorFinal">
    
    <div class="columnaFinal columnaMarca">
      <h2 class="logoFinal">CHANCO<span class="resaltado">3D</span></h2>
      <p class="lema">Materializando la creatividad.</p>
      <p class="descripcion">
        Somos un laboratorio creativo enfocado en la personalización y el diseño consciente. 
        Calidad en resina que supera los estándares.
      </p>
      <div class="enlacesSociales">
        <a href="#" class="enlaceSocial">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png" alt="Instagram" class="iconoRed">
        </a> 
        <a href="#" class="enlaceSocial">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="Facebook" class="iconoRed">
        </a> 
        <a href="#" class="enlaceSocial">
          <img src="https://images.seeklogo.com/logo-png/27/2/twitter-logo-png_seeklogo-274043.png" alt="Twitter" class="iconoRed">
        </a> 
      </div>
    </div>

    <div class="columnaFinal">
      <h3>Explora</h3>
      <ul class="enlacesFinal">
        <li><a [routerLink]="['/home']">Inicio</a></li>
        <li><a [routerLink]="['/shop/catalog']">Catálogo de Productos</a></li>
        <li><a [routerLink]="['/services/quote']">Cotizador 3D</a></li>
        <li><a [routerLink]="['/services/community']">Galería de la Comunidad</a></li>
      </ul>
    </div>

    <div class="columnaFinal">
      <h3>Soporte</h3>
      <ul class="enlacesFinal">
        <li><a [routerLink]="['/contact']">Contacto</a></li>
        <li><a [routerLink]="['/auth/terms-conditions']">Términos y Condiciones</a></li>
      </ul>
    </div>

  </div>

  <div class="finalInferior">
    <p>Desarrollado por Chanco3D.</p>
  </div>
</footer>