<footer class="footer">
  <div class="footer-container">
    
    <div class="footer-col brand-col">
      <h2 class="footer-logo">CHANCO<span class="highlight">3D</span></h2>
      <p class="tagline">Materializando la creatividad.</p>
      <p class="description">
        Somos un laboratorio creativo enfocado en la personalización y el diseño consciente. 
        Calidad en resina que supera los estándares.
      </p>
      <div class="social-links">
        <a href="#" class="insta"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png" alt="" class="redes"></a> <a href="#" class="social-icon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="" class="redes"></a> <a href="#" class="twt"><img src="https://images.seeklogo.com/logo-png/27/2/twitter-logo-png_seeklogo-274043.png" alt="" class="redes"></a> </div>
    </div>

    <div class="footer-col">
      <h3>Explora</h3>
      <ul class="footer-links">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/catalog">Catálogo de Productos</a></li>
        <li><a routerLink="/quote">Cotizador 3D</a></li>
        <li><a routerLink="/community">Galería de la Comunidad</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Soporte</h3>
      <ul class="footer-links">
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a href="#">Preguntas Frecuentes (Kidik)</a></li>
        <li><a href="#">Términos y Condiciones</a></li>
        <li><a href="#">Política de Privacidad</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Chanco3D. Todos los derechos reservados.</p>
    <p>Desarrollado con <span class="heart">❤</span> por George y los chanquitos.</p>
  </div>
</footer>