<footer class="finalDePagina">
  <div class="contenedorFinal">

    <div class="columnaFinal columnaMarca">
      <h2 class="logoFinal">CHANCO<span class="resaltado">3D</span></h2>
      <p class="lema">Materializando la creatividad.</p>
      <p class="descripcion">
        Somos un laboratorio creativo enfocado en la personalización y el diseño consciente.
        Calidad en resina que supera los estándares.
      </p>
      <div class="enlacesSociales">
        <a href="#" class="enlaceSocial">
          <i class="bi bi-instagram iconoRed"></i>
        </a>
        <a href="#" class="enlaceSocial">
          <i class="bi bi-facebook iconoRed"></i>
        </a>
        <a href="#" class="enlaceSocial">
          <i class="bi bi-twitter iconoRed"></i>
        </a>
      </div>
    </div>

    <div class="columnaFinal">
      <h3>Explora</h3>
      <ul class="enlacesFinal">
        <li><a [routerLink]="['/home']">Inicio</a></li>
        <li><a [routerLink]="['/shop/catalog']">Catálogo de Productos</a></li>
        <li><a [routerLink]="['/services/quote']">Cotizador 3D</a></li>
        <li><a [routerLink]="['/services/community']">Galería de la Comunidad</a></li>
      </ul>
    </div>

    <div class="columnaFinal">
      <h3>Soporte</h3>
      <ul class="enlacesFinal">
        <li><a [routerLink]="['/contact']">Contacto</a></li>
        <li><a [routerLink]="['/auth/terms-conditions']">Términos y Condiciones</a></li>
      </ul>
    </div>

  </div>

  <div class="finalInferior">
    <p>Desarrollado por Chanco3D.</p>
  </div>
</footer>