<nav class="barraNavegacion">
  <div class="contenedorBarra">
    <a routerLink="/home" class="logoBarra">
      CHANCO<span class="resaltado">3D</span>
    </a>

    <ul class="menuNavegacion">
      <li class="itemNavegacion">
        <a routerLink="/home" routerLinkActive="activo" class="enlaceNavegacion">Inicio</a>
      </li>

      @if (!isAdmin) {
        <li class="itemNavegacion">
          <a [routerLink]="['/shop/catalog']" routerLinkActive="activo" class="enlaceNavegacion">Tienda</a>
        </li>
        <li class="itemNavegacion">
          <a [routerLink]="['/services/community']" routerLinkActive="activo" class="enlaceNavegacion">Galería</a>
        </li>
        <li class="itemNavegacion">
          <a [routerLink]="['/services/quote']" routerLinkActive="activo" class="enlaceNavegacion">Cotizador</a>
        </li>
        <li class="itemNavegacion">
          <a [routerLink]="['/services/suggestions']" routerLinkActive="activo" class="enlaceNavegacion">Sugerencias</a>
        </li>
      }

      @if (isAdmin) {
        <li class="itemNavegacion">
          <a [routerLink]="['/admin']" routerLinkActive="activo" class="enlaceNavegacion enlaceAdmin">Panel Admin</a>
        </li>
      }
    </ul>

    <div class="accionesNavegacion">
      @if (!isAdmin) {
        <a [routerLink]="['/shop/cart']" class="btnIcono" title="Carrito">
          <img src="https://i.ibb.co/rKSvrGGk/carrito-de-compras-1.png" alt="" style="width: 30px;"> <span class="etiquetaConteo">0</span>
        </a>
      }

      @if (!isLoggedIn) {
        <a [routerLink]="['/auth/login']" class="btnPrimario">Ingresar</a>
      }

      @if (isLoggedIn) {
        <button (click)="logout()" class="btnPrimario btnSalir">Salir</button>
      }
    </div>
  </div>

  <div class="contenedorSwitchTema">
    <label class="switchTema" for="checkbox">
      <input type="checkbox" id="checkbox" (change)="toggleTheme()" [checked]="isDarkMode" />
      <div class="deslizador redondo">
        <span class="iconoSol">☀</span>
        <span class="iconoLuna">🌒︎</span>
      </div>
    </label>
  </div>
</nav>