<div class="disenoAdmin">

  <main class="contenidoAdmin">
    <header class="filaEncabezadoContenido">
      <div>
        <h1>Gestión de Proveedores</h1>
        <p class="subtitulo">Cartera de socios y cadena de suministro.</p>
      </div>
      <button class="btnPrimario" (click)="showForm = !showForm">
        {{ showForm ? 'Cancelar' : '+ Registrar Proveedor' }}
      </button>
    </header>

    <section class="seccionFormulario" *ngIf="showForm">
      <div class="tarjetaFormulario">
        <h3>Nuevo Socio Comercial</h3>
        <div class="Formulario">
          <input type="text" placeholder="Nombre de la Empresa" [(ngModel)]="newSupplier.company">
          <input type="text" placeholder="Nombre del Contacto" [(ngModel)]="newSupplier.contact">
          <input type="email" placeholder="Correo Electrónico" [(ngModel)]="newSupplier.email">
          <input type="text" placeholder="Teléfono" [(ngModel)]="newSupplier.phone">
          <input type="text" placeholder="Insumos que vende (separados por coma)" [(ngModel)]="newSupplier.supplies">
        </div>
        <button class="btnGuardar" (click)="saveSupplier()">Guardar Proveedor</button>
      </div>
    </section>

    <div class="tarjetaTabla">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Empresa</th>
            <th>Contacto Directo</th>
            <th>Insumos Surtidos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of suppliers">
            <td>#{{ s.id }}</td>
            <td>
              <div class="infoEmpresa">
                <strong>{{ s.company }}</strong>
                <small>{{ s.email }}</small>
              </div>
            </td>
            <td>
              {{ s.contact }}
              <div class="etiquetaTelefono">{{ s.phone }}</div>
            </td>
            <td>
              <div class="contenedorTags">
                <span class="tagInsumo" *ngFor="let supply of s.supplies">{{ supply }}, </span>
              </div>
            </td>
            <td>
              <div class="acciones">
                <button class="btnIcono editar" title="Editar" (click)="editSupplier(s)">✎</button>
                <button class="btnIcono eliminar" title="Eliminar" (click)="deleteSupplier(s.id)">🗑</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
