<div class="contenedorSugerencias">
  <header class="encabezadoPagina">
    <h1>Buzón de <span class="resaltado">Sugerencias</span></h1>
    <p>¿Qué figura te gustaría ver en Chanco3D?</p>
  </header>

  <div class="disenoGrid">
    <section class="seccionFormulario">
      <div class="tarjetaFormulario">
        <h3>Envía tu Idea</h3>

        <form (submit)="enviarSugerencia()">
          <div class="grupoFormulario">
            <label>Título de la Figura / Personaje</label>
            <input type="text" [(ngModel)]="nuevaSugerencia.titulo" name="titulo" placeholder="Ej. Guerrero" required>
          </div>

          <div class="grupoFormulario">
            <label>Origen (Videojuego, Anime, Original)</label>
            <input type="text" [(ngModel)]="nuevaSugerencia.origen" name="origen" placeholder="Ej. Dark Souls" required>
          </div>

          <div class="grupoFormulario">
            <label>Detalles Adicionales</label>
            <textarea rows="4" [(ngModel)]="nuevaSugerencia.detalles" name="detalles"
              placeholder="Me gustaría que tuviera una pose..."></textarea>
          </div>

          <button type="submit" class="btnEnviar">ENVIAR SUGERENCIA</button>
        </form>
      </div>
    </section>

    <section class="tableroEstado">
      <h3>Tablero de Sugerencias</h3>

      <div class="listaSugerencias">

    <ng-container *ngFor="let item of sugerenciasPublicas">

      <div class="tarjetaSugerencia" *ngIf="item.estado === 'Nueva' || item.estado === 'Aprobada'">

        <span class="etiquetaEstado" [ngClass]="obtenerClaseEstado(item.estado)">
          <span class="punto">•</span> {{ item.estado }}
        </span>

        <div class="encabezadoTarjeta">
          <h4>{{ item.titulo }}</h4>
          <span class="etiquetaOrigen">{{ item.origen }}</span>
        </div>

        <div class="card-footer">
          <p class="autor">Sugerido por: {{ item.usuario }}</p>
          <small class="date">{{ item.fecha }}</small>
        </div>

      </div>
    </ng-container>

    <div *ngIf="sugerenciasPublicas.length === 0" class="no-results">
      <p>Aún no hay sugerencias. ¡Envía la tuya!</p>
    </div>

  </div>
    </section>

  </div>
</div>
