<div class="contenedorSugerencias">
  <header class="encabezadoPagina">
    <h1>Buzón de <span class="resaltado">Sugerencias</span></h1>
    <p>¿Qué figura te gustaría ver en Chanco3D?</p>
  </header>

  <div class="disenoGrid">
    <section class="seccionFormulario">
      <div class="tarjetaFormulario">
        <h3>Envía tu Idea</h3>

        
        <form (submit)="submitSuggestion()">
          <div class="grupoFormulario">
            <label>Título de la Figura / Personaje</label>
            <input type="text" [(ngModel)]="newSuggestion.title" name="title" placeholder="Ej. Guerrero" required>
          </div>

          <div class="grupoFormulario">
            <label>Origen (Videojuego, Anime, Original)</label>
            <input type="text" [(ngModel)]="newSuggestion.origin" name="origin" placeholder="Ej. Dark Souls" required>
          </div>

          <div class="grupoFormulario">
            <label>Detalles Adicionales</label>
            <textarea rows="4" [(ngModel)]="newSuggestion.details" name="details" placeholder="Me gustaría que tuviera una pose..."></textarea>
          </div>

          <button type="submit" class="btnEnviar">ENVIAR SUGERENCIA</button>
        </form>
      </div>
    </section>

    <section class="status-board">
      <h3>Próximos Proyectos (Aprobados)</h3>
      
      <div class="suggestions-list">
        <div class="suggestion-card" *ngFor="let item of publicSuggestions">
          <div class="card-header">
            <h4>{{ item.title }}</h4>
            <span class="origin-tag">{{ item.origin }}</span>
          </div>
          
          <div class="card-footer">
            <p class="author">Sugerido por: {{ item.user }}</p>
            <small class="date">{{ item.date }}</small>
          </div>
        </div>
        
        <div *ngIf="publicSuggestions.length === 0" class="no-results">
          <p>Aún no hay sugerencias aprobadas. ¡Envía la tuya!</p>
        </div>
      </div>
    </section>

  </div>
</div>