<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>Bienvenido Maker</h2>
      <p>Ingresa para materializar tus ideas</p>
    </div>

    <form [formGroup]="formLogin" (ngSubmit)="login()">

      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <div class="input-wrapper">
          <span class="input-icon">✉️</span>

          <input
            type="email"
            formControlName="email"
            placeholder="ejemplo@chanco3d.com"
          >
        </div>
        @if (formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
          <small class="error-text" style="color: red; font-size: 0.8rem;">Correo inválido o vacío</small>
        }
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="input-wrapper">
          <span class="input-icon">🔒</span>

          <input
            type="password"
            formControlName="password"
            placeholder="••••••••"
          >
        </div>
        <div class="forgot-pass">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
         @if (formLogin.get('password')?.invalid && formLogin.get('password')?.touched) {
          <small class="error-text" style="color: red; font-size: 0.8rem;">La contraseña es requerida</small>
        }
      </div>

      <button type="submit" class="btn-submit">
        INGRESAR
      </button>

    </form>

    <div class="auth-footer">
      <p>¿No tienes cuenta? <a [routerLink]="['/auth/register']">Regístrate aquí</a></p>
    </div>
  </div>
</div>
