<div class="contenedorCat">
  <header class="encabezadoCat">
    <h1>Catálogo <span class="resaltado">3D</span></h1>
    <p>Explora nuestra colección de impresiones en resina de alta definición.</p>
  </header>
  <div class="disenoCatalogo">
    <aside class="filtro">
      <div class="recuadroBusqueda">
        <input type="text" placeholder="Buscar figura" [(ngModel)]="searchTerm">
      </div>
      <div class="listaCategorias">
        <h3>Categorías</h3>
        <button [class.active]="selectedCategory === 'Todos'" (click)="selectedCategory = 'Todos'">Todas</button>
        <button [class.active]="selectedCategory === 'Figuras'" (click)="selectedCategory = 'Figuras'">Figuras</button>
        <button [class.active]="selectedCategory === 'Juegos de Mesa'" (click)="selectedCategory = 'Juegos de Mesa'">Tabletop / D&D</button>
        <button [class.active]="selectedCategory === 'Accesorios'" (click)="selectedCategory = 'Accesorios'">Accesorios / Setup</button>
        <button [class.active]="selectedCategory === 'Ingeniería'" (click)="selectedCategory = 'Ingeniería'">Prototipos</button>
      </div>
    </aside>
    <main class="Productos">
      <div class="tarjetaProducto" *ngFor="let product of filteredProducts">
        <span class="etiquetaNuevo" *ngIf="product.isNew">NUEVO</span>
        <div class="imagenTarjeta">
          <img [src]="product.image" [alt]="product.name">
        </div>
        <div class="contenidoTarjeta">
          <span class="etiquetaCategoria">{{ product.category }}</span>
          <h3>{{ product.name }}</h3>
          <div class="filaPrecio">
            <span class="precio">{{ product.price | currency:'MXN':'symbol-narrow' }}</span>
            <button class="btnAgregar" (click)="addToCart(product)">
              Agregar +
            </button>
          </div>
        </div>
      </div>
      <div class="sinResultados" *ngIf="filteredProducts.length === 0">
        <p>No encontramos nada con ese nombre.</p>
      </div>
    </main>
  </div>
</div>