:root {

  --colorFondo: #121212;
  --fondoTarjeta: #1e1e20;
  --textoPrincipal: #ffffff;
  --textoSecundario: #a1a1aa;
  --colorBorde: #27272a;
  --colorPrimario: #4f46e5;
  --colorPrimarioHover: #4338ca;
  --fondoInput: #27272a;
  --sombra: rgba(0, 0, 0, 0.4);
}


body.light-theme {
  --colorFondo: #f3f4f6;
  --fondoTarjeta: #ffffff;
  --textoPrincipal: #111827;
  --textoSecundario: #6b7280;
  --colorBorde: #e5e7eb;
  --colorPrimario: #4f46e5;
  --colorPrimarioHover: #4338ca;
  --fondoInput: #f9fafb;
  --sombra: rgba(0, 0, 0, 0.1);
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorFondo);
  color: var(--textoPrincipal);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--colorFondo);
}

::-webkit-scrollbar-thumb {
  background: var(--colorPrimario);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorPrimarioHover);
}